<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<style>
    .error {
        color: red;
    }
</style>
        <h1>Create user</h1>
        <form th:action="@{/admin/create}" th:method="post" th:object="${user}">

            <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
            <label for="name">Name</label>
            <input id="name" th:placeholder="name" type="text" th:field="*{name}">
            <br>
            <br>
            <p class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname Error</p>
            <label for="name">Surname</label>
            <input id="surname" th:placeholder="surname" type="text" th:field="*{surname}">
            <br>
            <br>
            <p class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age Error</p>
            <label for="age">Age</label>
            <input id="age" type="text" th:placeholder="age" th:field="*{age}">
            <br>
            <br>
            <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</p>
            <label for="email">Email</label>
            <input id="email" th:placeholder="email" type="text" th:field="*{email}">
            <br>
            <br>
            <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</p>
            <label for="password">Password</label>
            <input id="password" th:placeholder="password" type="password" th:field="*{password}">
            <br>
            <br>
            Enabled
            <p><input name="enabled" type="radio" value="1" th:checked="${enabled}">Enabled</p>
            <p><input name="enabled" type="radio"  value="0"  th:checked="*{enabled}">Not Enadled</p>
            <br>
            Locked
            <p><input name="locked" type="radio" value="1" th:checked="${locked}">Enabled</p>
            <p><input name="locked" type="radio"  value="0"  th:checked="*{locked}">Not Enadled</p>
            <br>
            Expired
            <p><input name="expired" type="radio" value="1" th:checked="${expired}">Enabled</p>
            <p><input name="expired" type="radio"  value="0"  th:checked="*{expired}">Not Enadled</p>
            <br>
            <label for="role">Role</label>
            <select id="role" name="roles" multiple>
                <option th:each="role : ${roleList}"
                        th:value="${role.id}"
                        th:text="${role.getName()}">User</option>
            </select>

<!--            <th:block th:each="role : ${roleList}">-->
<!--                <option th:value="${role.name}" th:text="${role.getName()}">User</option>-->
<!--            </th:block>-->

            <br>
            <br>
            <input type="submit" value="save">
        </form>
        <br>
        <br>
<a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
</body>
</html>